 
        body {
            background-image: url();
            font-family: Georgia, 'Times New Roman', Times, serif;
            background-color: #299a91;
        }
        
        .contenedor-principal {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 75vh;
            
        }
        .caja-formulario {
            width: 440px;
            height: 350px;
            background-color: #ffffff;
            text-align: left;
            margin: 5px;
            padding-left: 5px;
        }
        .imag{
            padding-top: 40px;
            padding-left: 30px;
        }
        .inicio{
            font-size: x-large;   
            padding-top: 15px; 
            margin: 1%;
            height: 30px;
            padding-left: 25px;
            
        }    
        .continuarou{
            font-size: medium;
            margin: 1%;
            height: 30px;
            padding-left: 25px;
            }
        .contenedor-grid {
            display: grid;
            grid-template-columns: 30%  80% 30%;
            
        }
        
        .centrado {
            height: 95vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }       
        .caja-correo {
            display: flex;
            justify-content: center;
        }
        
        .linea input { 
            width: 80%;
            border: #7b6363;
            border-bottom: 1px solid rgb(7, 7, 7);
            background-color: transparent;
            margin: 10px ;
            
        }  
       
        a:hover{
            text-decoration: underline;
        }  
        .boton{
            background-color: rgba(9, 89, 238, 0.704);
            justify-content: end;
            height: 40px;
            width: 120px;
            margin-top: 24%;
            position: absolute;
            top: 10%;
            right: 40%;
            border: none;
        }  
        .crear-cuenta{
            display: flex;
            justify-content: flex-end;
        }
        
        
